.introduction {
    background-color: #1F4E5A;
    color: #D6E8EE;
}

.navbar-brand {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
}

.navbar-collapse {
    font-family: 'Abril Fatface', cursive; 
}

.jumbotron{
    background-image: linear-gradient(#1F4E5A, #009c8e);
}

.intro-text{
    padding-top: 25px;
}

p {
    font-family: 'Raleway', sans-serif;
}


.avatar {
    border-radius: 100%;
    border: solid;
    border-color: #DEEFB7;
    width: 170px;
    height: 170px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.about-title{
    color: #5FB49C;
    padding-top: 30px;
    font-family: 'Josefin Slab', serif;
}

hr {
    width: 400px;
    border-top: 2px solid;
    color: #DEEFB7;
}
.about-content {
    margin: auto;
}

.project {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-title{
    color: #5FB49C;
    padding-top: 30px;
    font-family: 'Josefin Slab', serif;
}

.project-card {
    margin: auto;
}

.col-lg-5 {
    padding-left: 30px;
}
.card {
    position: relative;
    width: 100%;
}
  
.image-card {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.card:hover .image-card {
    opacity: 0.3;
}
  
.card:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: transparent;
    color:  #1F4E5A;
    font-size: 20px;
    text-align: center;
}

.ask-me {
    margin-top: 30px;
    font-family: 'Josefin Slab', serif;
}

.form-askme {
    padding-top: 30px;
    padding-bottom: 30px;
}
.socmed {
    margin: 1em;
    color: #DEEFB7;
}

.contact{
    background-color: #1F4E5A;
}

footer {
    background-color: #1F4E5A;
    color: #D6E8EE;
}

.avatar2 {
    border-radius: 100%;
    border: solid;
    border-color: #DEEFB7;
    box-shadow: 2em;
    width: 110px;
    height: 110px;
    margin: auto;
    display: block;
}

.shoutout {
    padding-top: 25px;
    min-height: 400px;
    background-image: linear-gradient(#009c8e, #1F4E5A)
}

 
  
  /* mouse over link */
  a:hover {
    color: #5FB49C;
  }

  